.title>*{
    text-align: center;
}
.content{
    margin-top: 5em;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}